{% load static %}

<!-- Footer Start -->
<footer  class="footer">
	<div class="footer-part-1">
		<img src="{% static 'assets/img/logo.png' %}" alt="logo">
		<p>Our vision is to provide convenience and help increase your sales business.</p>
	</div>
	<div class="footer-links">
		<p>About</p>
		<a href="#">How it works</a>
		<a href="#">Featured</a>
		<a href="#">Partnership</a>
		<a href="#">Business Relation</a>
	</div>
	<div class="footer-links">
		<p>Community</p>
		<a href="#">Events</a>
		<a href="#">Blog</a>
		<a href="#">Podcast</a>
		<a href="#">Invite a friend</a>
	</div>
	<div class="footer-links">
		<p>Socials</p>
		<a href="#">Discord</a>
		<a href="#">Instagram</a>
		<a href="#">Twitter</a>
		<a href="#">Facebook</a>
	</div>
</footer>
<!-- Footer End -->